immagini/* filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
immagini/android-stack.png filter=lfs diff=lfs merge=lfs -text
immagini/firebase-usecase.png filter=lfs diff=lfs merge=lfs -text
immagini/java-architecture.png filter=lfs diff=lfs merge=lfs -text
tesi.pdf filter=lfs diff=lfs merge=lfs -text
immagini/erastreaming-schema-attuale.png filter=lfs diff=lfs merge=lfs -text
immagini/git-branches.png filter=lfs diff=lfs merge=lfs -text
immagini/template-hierarchy.png filter=lfs diff=lfs merge=lfs -text
immagini/cardboard-schema.png filter=lfs diff=lfs merge=lfs -text
immagini/firebase-logo.png filter=lfs diff=lfs merge=lfs -text
immagini/pianificazione-gantt.png filter=lfs diff=lfs merge=lfs -text
immagini/rackspace-network.png filter=lfs diff=lfs merge=lfs -text
immagini/vla-logo.png filter=lfs diff=lfs merge=lfs -text
immagini/wordpress-logo.png filter=lfs diff=lfs merge=lfs -text
immagini/bitbucket-pipeline.png filter=lfs diff=lfs merge=lfs -text
immagini/erastreaming-schema.png filter=lfs diff=lfs merge=lfs -text
immagini/logo-unipd.png filter=lfs diff=lfs merge=lfs -text
immagini/scrum-process.png filter=lfs diff=lfs merge=lfs -text
immagini/visionhealthcare-schema.png filter=lfs diff=lfs merge=lfs -text
immagini/bitbucket-logo.png filter=lfs diff=lfs merge=lfs -text
immagini/gsuite-logo.png filter=lfs diff=lfs merge=lfs -text
immagini/g-suite-products.png filter=lfs diff=lfs merge=lfs -text
immagini/java-logo.png filter=lfs diff=lfs merge=lfs -text
immagini/git-logo.jpg filter=lfs diff=lfs merge=lfs -text
immagini/rackspace-logo.jpg filter=lfs diff=lfs merge=lfs -text
immagini/scrum-process.jpg filter=lfs diff=lfs merge=lfs -text
immagini/unicreditstartlab-logo.jpg filter=lfs diff=lfs merge=lfs -text
